<footer class="footer">
    <div class="container-fluid">
        <small class="text-muted">
            <a href="#">About</a> /
            <a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact us</a> /
            <span>&copy; 2019 AspnetCoreEcommerce</span>
        </small>
        <span style="float: right;">
            <a href="#" target="_blank">
                <span class="fas fa-github text-muted">Oniric Design</span>
            </a>
        </span>
    </div>
</footer>